/* CONTEÚDO */

body .TableHome{
    list-style: none;
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0;
    width: fit-content;
}
body .Texto{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: justify;
    height:100%;
	width:100%;
    font-size: 18px;
}
body .BotãoCardápio{
    background-color: red;
    color: white;
    border-radius: 5px;
    border-color: red;
    box-shadow: none;
    margin: 40px;
}
body .BotãoCardápio a{
    background-color: red;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    border-color: red;
    box-shadow: none;
}
body .BotãoReserva{
    background-color: red;
    color: white;
    border-radius: 5px;
    border-color: red;
    box-shadow: none;
    margin: 40px;
}
body .BotãoReserva a{
    background-color: red;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    border-color: red;
    box-shadow: none;
}