.faletxt 
{
    text-align: center;
    color: white;

}

.mapa /* Mapa*/
{
    border: solid;
    border-width: 0.32vw;
    border-color: rgb(107, 23, 23); 
    position:absolute;
    left: 50%;
    right: 50%;
    top: 30%;
}

.tabelaDist /* Tabela*/
{
    display: left;
    margin-left: 5vw;
    position: absolute;
    top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 35vw;
    min-height: 34vw;
}

tr 
{
    
    color: #fff;
    border-color:  rgb(107, 23, 23);
    font-size: 2vw;

}

.txtTD
{
    color: #fff;
    font-size: 2.5vw;
    line-height: 4.3vw;
}