.txt_sushi /* div dos textos */
{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    min-height: 10vw;
    text-align: justify;
    margin-top: 3vw;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 10vw;
}

h2 /* centraliza os h2 */
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    color: rgba(197, 59, 37, 0.8);
    font-size: 250%;
}

.txt_sushi_sushi /* deixa justificado os textos*/
{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.txt_titulo 
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.espaco /* espaço no começo de cada texto */
{
    text-indent: 0.2vw;
    display: inline-block;
    margin-right: 1vw;
}



